.DS_Store
*.nosync
*.icloud
node_modules
/dist
__pycache__/
uninstall.txt
.~*

# Plotly credentials
.plotly
*.credentials

# local env files
.venv.local
.venv.*.local
venv

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
